name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        backend: [nlohmann, rapidjson]

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake g++

    - name: Build
      run: |
        mkdir build
        cd build
        if [ "${{ matrix.backend }}" = "rapidjson" ]; then
          cmake .. -DUJSON_USE_RAPIDJSON=ON
        else
          cmake ..
        fi
        make

    - name: Run Tests
      run: |
        cd build
        ./test_main